node_modules/
.env
dist/
build/
coverage/
*.log
.DS_Store
other.txt

infra/terraform/terraform.tfvars
infra/terraform/.terraform/
infra/terraform/*.tfstate
infra/terraform/*.tfstate.*

backend/matchmacking/matchmacking.zip
